<% if reminders.any? %>
  <% reminders.each do |reminder| %>
    <%= render "shared/reminder", reminder: reminder %>
  <% end %>
<% else %>
  <li class="flex flex-col w-full bg-white rounded-lg shadow p-2 text-center">
    <span class="text-xs font-medium text-gray-700">
      Nenhum lembrete pendente encontrado.
    </span>
  </li>
<% end %>
