<%= turbo_stream_from "home" %>

<div class="relative w-full h-full bg-gray-900 text-white min-h-screen flex items-center justify-center">
  <div class="absolute top-2 left-2 bg-gray-800 bg-opacity-50 border border-gray-700 rounded-lg p-2 w-48 sm:w-56">
    <h3 class="text-[10px] sm:text-xs font-medium text-teal-400 uppercase">Previsão do Tempo</h3>
    <div class="mt-1 text-[12px] sm:text-sm text-white">
      <ul id="weather" class="flex gap-2">
        <li class="w-full bg-white rounded-lg shadow p-4 flex flex-col items-center text-center">
          <i class="fa-solid fa-temperature-half text-gray-400 fa-2x"></i>
          <span class="mt-2 text-sm text-gray-600">Carregando…</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="absolute top-2 right-2 bg-gray-800 bg-opacity-50 border border-gray-700 rounded-lg p-3 w-48 sm:w-56">
    <h3 class="text-[10px] sm:text-xs font-medium text-teal-400 uppercase">Lembretes</h3>
    <div class="mt-1 text-[12px] sm:text-sm text-white">
      <ul id="reminders">
        <li class="bg-white rounded text-black p-2">
          <div class="flex items-center gap-2">
            <i class="fa-solid fa-bell fa-lg"></i>
            <span>Carregando...</span>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="max-w-xl w-full bg-white rounded-lg shadow p-6 flex flex-col gap-6" data-controller="jarvis transcript">
    <div class="flex items-center justify-center gap-2">
      <i class="fa-solid fa-brain-circuit text-black fa-2xl"></i>
      <h2 class="text-2xl font-semibold text-gray-900">J.A.R.V.I.S</h2>
    </div>

    <div class="flex gap-2 justify-center ml-2 my-6" data-jarvis-target="audioDisplay">
      <div class="bar w-1 h-1 bg-teal-500 transition-all duration-100 ease-in-out"></div>
      <div class="bar w-1 h-1 bg-teal-500 transition-all duration-100 ease-in-out"></div>
      <div class="bar w-1 h-3 bg-teal-500 transition-all duration-100 ease-in-out"></div>
      <div class="bar w-1 h-4 bg-teal-500 transition-all duration-100 ease-in-out"></div>
      <div class="bar w-1 h-5 bg-teal-500 transition-all duration-100 ease-in-out"></div>
      <div class="bar w-1 h-4 bg-teal-500 transition-all duration-100 ease-in-out"></div>
      <div class="bar w-1 h-2 bg-teal-500 transition-all duration-100 ease-in-out"></div>
      <div class="bar w-1 h-3 bg-teal-500 transition-all duration-100 ease-in-out"></div>
      <div class="bar w-1 h-1 bg-teal-500 transition-all duration-100 ease-in-out"></div>
    </div>

    <div id="current-transcript" class="flex items-center justify-between gap-3 bg-gray-100 rounded-md p-4 text-gray-800 relative" data-jarvis-target="captions" data-transcript-target="container">
      <div class="flex items-center gap-4">
        <i class="fa-solid fa-comment-captions fa-lg"></i>
        <button type="button" data-jarvis-target="micToggle" data-action="click->jarvis#toggleMicPermission" class="ml-2 text-gray-600 hover:text-gray-800 hidden" title="Ligar/Desligar microfone">
          <i data-jarvis-target="micIcon" class="fa-solid fa-microphone-slash fa-lg"></i>
        </button>
        <p data-jarvis-target="transcript" data-transcript-target="currentTranscript">
          Aguardando comando...
        </p>
      </div>
      <div id="full-transcript" class="space-y-2 overflow-auto max-h-56 hidden" data-transcript-target="fullTranscript">
      </div>
        <i class="fa-solid fa-list-timeline cursor-pointer fa-lg" id="toggleTranscript" data-action="click->transcript#toggle"></i>
    </div>
  </div>
</div>
