<div class="w-full h-full bg-gray-900 text-white min-h-screen">
  <h1 class="text-center text-5xl font-extrabold my-10">
    Jarvis – Seu Assistente Inteligente
  </h1>

  <section class="mx-auto container" data-controller="jarvis transcript" data-jarvis-api-endpoint-value="/jarvis/create_openai_realtime_session">
    <div class="w-full bg-gray-800 rounded-xl shadow-lg p-6">
      <div id="transcripts-container" class="flex justify-between bg-gray-700 rounded-lg p-4 overflow-hidden transition-all duration-300" data-transcript-target="container">
        <div id="current-transcript" class="text-center text-lg" data-jarvis-target="transcript" data-transcript-target="currentTranscript">
          <em>Aguardando comando...</em>
        </div>
        <div id="full-transcript" class="space-y-2 overflow-auto max-h-56 hidden" data-transcript-target="fullTranscript">
        </div>
        <button id="toggleTranscript" type="button" data-action="click->transcript#toggle" class="text-sm font-medium bg-gray-600 hover:bg-gray-500 rounded px-2 py-1 transition">
          Expandir
        </button>
      </div>
    </div>
  </section>
</div>
